TgxODEJointlist BITMAP fmx\components\TgxODEJointlist.bmp
TgxODEManager BITMAP fmx\components\TgxODEManager.bmp
TgxNGDJointlist BITMAP fmx\components\TgxNGDJointlist.bmp
TgxNGDManager BITMAP fmx\components\TgxNGDManager.bmp
