TGLODEJointlist BITMAP components\TGLODEJointlist.bmp
TGLODEManager BITMAP components\TGLODEManager.bmp
TGLNGDJointlist BITMAP components\TGLNGDJointlist.bmp
TGLNGDManager BITMAP components\TGLNGDManager.bmp
