TglODEJointlist BITMAP vcl\components\TglODEJointlist.bmp
TglODEManager BITMAP vcl\components\TglODEManager.bmp
TglNGDJointlist BITMAP vcl\components\TglNGDJointlist.bmp
TglNGDManager BITMAP vcl\components\TglNGDManager.bmp
