gls_camera BITMAP vcl\objects\gls_camera.bmp
gls_lights BITMAP vcl\objects\gls_lights.bmp
gls_objects BITMAP vcl\objects\gls_objects.bmp
gls_root BITMAP vcl\objects\gls_root.bmp
gls_cross BITMAP vcl\objects\gls_cross.bmp

TGLCamera BITMAP vcl\objects\TGLCamera.bmp
TGLDirectOpenGL BITMAP vcl\objects\TGLDirectOpenGL.bmp
TGLDummyCube BITMAP vcl\objects\TGLDummyCube.bmp
TGLLightSource BITMAP vcl\objects\TGLLightSource.bmp

TGLFeedback BITMAP vcl\objects\TGLFeedback.bmp
TGLImposter BITMAP vcl\objects\TGLImposter.bmp
TGLRenderPoint BITMAP vcl\objects\TGLRenderPoint.bmp
TGLFBORenderer BITMAP vcl\objects\TGLFBORenderer.bmp

TGLHUDSprite BITMAP vcl\objects\TGLHUDSprite.bmp
TGLHUDText BITMAP vcl\objects\TGLHUDText.bmp
TGLResolutionIndependantHUDText BITMAP vcl\objects\TGLResolutionIndependantHUDText.bmp
TGLAbsoluteHUDText BITMAP vcl\objects\TGLAbsoluteHUDText.bmp
TGLConsole BITMAP vcl\objects\TGLConsole.bmp
TGLGameMenu BITMAP vcl\objects\TGLGameMenu.bmp

TGLAdvancedLabel BITMAP vcl\objects\TGLAdvancedLabel.bmp
TGLBaseControl BITMAP vcl\objects\TGLBaseControl.bmp
TGLButton BITMAP vcl\objects\TGLButton.bmp
TGLCheckBox BITMAP vcl\objects\TGLCheckBox.bmp
TGLCustomControl BITMAP vcl\objects\TGLCustomControl.bmp
TGLEdit BITMAP vcl\objects\TGLEdit.bmp
TGLForm BITMAP vcl\objects\TGLForm.bmp
TGLLabel BITMAP vcl\objects\TGLLabel.bmp
TGLPanel BITMAP vcl\objects\TGLPanel.bmp
TGLPopupMenu BITMAP vcl\objects\TGLPopupMenu.bmp
TGLScrollBar BITMAP vcl\objects\TGLScrollBar.bmp
TGLStringGrid BITMAP vcl\objects\TGLStringGrid.bmp

TGLCone BITMAP vcl\objects\TGLCone.bmp
TGLCube BITMAP vcl\objects\TGLCube.bmp
TGLCylinder BITMAP vcl\objects\TGLCylinder.bmp
TGLDisk BITMAP vcl\objects\TGLDisk.bmp
TGLDodecahedron BITMAP vcl\objects\TGLDodecahedron.bmp
TGLFrustrum BITMAP vcl\objects\TGLFrustrum.bmp
TGLHexahedron BITMAP vcl\objects\TGLHexahedron.bmp
TGLIcosahedron BITMAP vcl\objects\TGLIcosahedron.bmp
TGLTetrahedron BITMAP vcl\objects\TGLTetrahedron.bmp
TGLOctahedron BITMAP vcl\objects\TGLOctahedron.bmp
TGLLines BITMAP vcl\objects\TGLLines.bmp
TGLPlane BITMAP vcl\objects\TGLPlane.bmp
TGLPoints BITMAP vcl\objects\TGLPoints.bmp
TGLPolygon BITMAP vcl\objects\TGLPolygon.bmp
TGLSphere BITMAP vcl\objects\TGLSphere.bmp
TGLSprite BITMAP vcl\objects\TGLSprite.bmp
TGLCapsule BITMAP vcl\objects\TGLCapsule.bmp
TGLSuperellipsoid BITMAP vcl\objects\TGLSuperellipsoid.bmp

TGLAnimatedSprite BITMAP vcl\objects\TGLAnimatedSprite.bmp
TGLAnnulus BITMAP vcl\objects\TGLAnnulus.bmp
TGLArrowLine BITMAP vcl\objects\TGLArrowLine.bmp
TGLArrowArc BITMAP vcl\objects\TGLArrowArc.bmp
TGLExtrusionSolid BITMAP vcl\objects\TGLExtrusionSolid.bmp
TGLMultiPolygon BITMAP vcl\objects\TGLMultiPolygon.bmp
TGLPipe BITMAP vcl\objects\TGLPipe.bmp
TGLRevolutionSolid BITMAP vcl\objects\TGLRevolutionSolid.bmp
TGLTorus BITMAP vcl\objects\TGLTorus.bmp
TGLGeoSphere BITMAP vcl\objects\TGLGeoSphere.bmp

TGLActor BITMAP vcl\objects\TGLActor.bmp
TGLFreeForm BITMAP vcl\objects\TGLFreeForm.bmp
TGLMesh BITMAP vcl\objects\TGLMesh.bmp
TGLPortal BITMAP vcl\objects\TGLPortal.bmp
TGLTerrainRenderer BITMAP vcl\objects\TGLTerrainRenderer.bmp
TGLTilePlane BITMAP vcl\objects\TGLTilePlane.bmp

TGLFlatText BITMAP vcl\objects\TGLFlatText.bmp
TGLHeightfield BITMAP vcl\objects\TGLHeightfield.bmp
TGLXYZGrid BITMAP vcl\objects\TGLXYZGrid.bmp

TGLParticleFXRenderer BITMAP vcl\objects\TGLParticleFXRenderer.bmp
TGLParticles BITMAP vcl\objects\TGLParticles.bmp

TGLEarthSkyDome BITMAP vcl\objects\TGLEarthSkyDome.bmp
TGLSkyDome BITMAP vcl\objects\TGLSkyDome.bmp
TGLAtmosphere BITMAP vcl\objects\TGLAtmosphere.bmp
TGLSkyBox BITMAP vcl\objects\TGLSkyBox.bmp

TGLSpaceText BITMAP vcl\objects\TGLSpaceText.bmp
TGLTeapot BITMAP vcl\objects\TGLTeapot.bmp
TGLTree BITMAP vcl\objects\TGLTree.bmp
TGLWaterplane BITMAP vcl\objects\TGLWaterplane.bmp

TGLBlur BITMAP vcl\objects\TGLBlur.bmp
TGLMotionBlur BITMAP vcl\objects\TGLMotionBlur.bmp
TGLLensflare BITMAP vcl\objects\TGLLensflare.bmp
TGLMirror BITMAP vcl\objects\TGLMirror.bmp
TGLShadowPlane BITMAP vcl\objects\TGLShadowPlane.bmp
TGLShadowVolume BITMAP vcl\objects\TGLShadowVolume.bmp
TGLZShadows BITMAP vcl\objects\TGLZShadows.bmp
TGLTrail BITMAP vcl\objects\TGLTrail.bmp
TGLTextureLensFlare BITMAP vcl\objects\TGLTextureLensFlare.bmp
TGLTextureEmitter BITMAP vcl\objects\TGLTextureEmitter.bmp
TGLSLTextureEmitter BITMAP vcl\objects\TGLSLTextureEmitter.bmp
TGLProjectedTextures BITMAP vcl\objects\TGLProjectedTextures.bmp
TGLSLProjectedTextures BITMAP vcl\objects\TGLSLProjectedTextures.bmp
TGLPostShaderHolder BITMAP vcl\objects\TGLPostShaderHolder.bmp
TGLPostEffect BITMAP vcl\objects\TGLPostEffect.bmp

TGLActorProxy BITMAP vcl\objects\TGLActorProxy.bmp
TGLColorProxy BITMAP vcl\objects\TGLColorProxy.bmp
TGLFreeFormProxy BITMAP vcl\objects\TGLFreeFormProxy.bmp
TGLMaterialProxy BITMAP vcl\objects\TGLMaterialProxy.bmp
TGLMaterialMultiProxy BITMAP vcl\objects\TGLMaterialMultiProxy.bmp
TGLMultiProxy BITMAP vcl\objects\TGLMultiProxy.bmp
TGLProxyObject BITMAP vcl\objects\TGLProxyObject.bmp