TglCUDA BITMAP vcl\components\TglCUDA.bmp
TglCUDADevice BITMAP vcl\components\TglCUDADevice.bmp
TglCUDACompiler BITMAP vcl\components\TglCUDACompiler.bmp
TCUDAFeedBackMesh BITMAP vcl\objects\TCUDAFeedBackMesh.bmp