TGLSCUDA BITMAP components\TGLSCUDA.bmp
TGLSCUDADevice BITMAP components\TGLSCUDADevice.bmp
TGLSCUDACompiler BITMAP components\TGLSCUDACompiler.bmp
TGLFeedBackMesh BITMAP objects\TGLFeedBackMesh.bmp